.submitBtn {
  background-color: #e8c258;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 30px;
}
body {
  color: rgba(0, 0, 0, 0.623) !important;
}
.navbar {
  background-color: #e8c258 !important;
  border: 1px solid red;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
  padding: 10px 15px;
  color: #333;
  border-radius: 4px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  background-color: #e9ecef;
  color: #fff;
}
.topBtn {
  text-align: right;
}
.editBtn {
  margin-right: 1rem;
}
.outerContainer {
}
.totalAmount {
  width: 20%;
  height: 20%;
  align-items: right;
  position: fixed;
  top: 70%;
  left: 75%;
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
  border-radius: 10px;
}
.btn-4 {
  position: relative;
  color: #000;
  z-index: 2;
  line-height: 40px;
  padding: 0;
}
.btn-4:hover {
  border: none;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-4:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #000;
  border-left-color: #000;
}
.btn-4:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #000;
  border-right-color: #000;
}
.btn-4:hover:before,
.btn-4:hover:after {
  border-color: #000;
  height: 100%;
  width: 100%;
}
.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn {
  background-color: #fb8332 !important;
  border: none !important;
}
.table {
  color: #fb8332 !important;
}
